<h1>Welcome to Word Count!</h1>
<form action="/replacement">
  <div class="form-group">
    <label for="sentence">What body of words would you like to search through?</label>
    <input id="sentence" name="sentence" class="form-control" type="text">

    <label for="word">What word would you like to have counted?</label>
    <input id="word" name="word" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Search</button>
</form>
